@charset "UTF-8";

$regular: 'Lato', sans-serif;
$red: #bf001a;
$black: #2b2a29;
$gray: #f4f4f4;

html,
body {
  margin: 0;
  padding: 0;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-rc #es-rc-content {
  font-family: $regular;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 930px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $black;
  background-color: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #111;
  }

  .es-title {
    @include text;
    margin-top: 50px;
    font-family: $regular;
    font-size: 25px;
    text-align: left;
    margin-bottom: 32px;
    margin-left: 20px;

    & span {
      font-weight: 700;
    }
  }

  .es-kv {
  }

  .slick-button-prev {
    position: absolute;
    top: 20%;
    left: 15px;
    rotate: 180deg;
    cursor: pointer;
  }

  .slick-button-next {
    position: absolute;
    top: 20%;
    right: 15px;
    cursor: pointer;
  }

  .slick-button-2-prev {
    position: absolute;
    bottom: 0;
    left: 15px;
    rotate: 180deg;
    cursor: pointer;
  }

  .slick-button-2-next {
    position: absolute;
    bottom: 0;
    right: 15px;
    cursor: pointer;
  }

  .slick-pagination-2 {
    position: absolute;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
  }

  .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 4px;
    padding: 0;
    margin: 0;
  }

  .slick-dots li {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background: #ef9e97;
    opacity: 1;
  }

  .slick-dots li:not(:last-child) {
    margin-right: 6px;
  }

  .slick-dots li.slick-active {
    background: $red;
  }

  .slick-dots li button {
    display: none;
  }

  .slick-slide {
    opacity: 0.7;
  }

  .slick-current {
    opacity: 1;
  }

  .slick-list {
    overflow: visible;
  }

  .slick-arrow.slick-disabled {
    display: none !important;
  }

  .es-faq {
    padding-bottom: 30px;

    &__title {
      @include text;
      font-family: $regular;
      margin: 0 auto;
      margin-left: 15px;
      margin-bottom: 40px;
      font-size: 25px;
      font-weight: 700;
      color: inherit;
    }

    .es-accordion {
      margin: 0 auto;
      max-width: 1170px;
      padding-left: 15px;
      padding-right: 15px;

      &__element {
        margin: 0 auto;
        margin-bottom: 20px;
        border: none;
      }

      &__element-content {
        @include text;
        font-family: $regular;
        font-size: 13px;
        background-color: #f4f4f4;
        color: #000;
        overflow: hidden;
        margin-top: -10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        max-height: 0;
        transition: max-height 0.5s ease-out;
        border-radius: 10px;
      }

      &__title {
        @include text;
        font-family: $regular;
        font-weight: 700;
        position: relative;
        padding: 17px 50px 17px 15px;
        font-size: 14px;
        color: #fff;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        cursor: pointer;
        background: $red;
        border-radius: 10px;
        z-index: 1;
        position: relative;
      }

      .acc-tab:before {
        font-family: 'FontAwesome';
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 100%;
        top: 0;
        right: 0;
        background: url(./../images/plus.png) 50% 50% no-repeat;
        color: #fff;
        text-align: center;
        line-height: 50px;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
      }

      .acc-tab.active:before {
        background: url(./../images/plus.png) 50% 50% no-repeat;
        transform: rotate(180deg);
      }

      & > div:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .es-video {
    padding-left: 15px;
    padding-right: 15px;

    &__wrapper {
      position: relative;
      margin-bottom: 50px;
    }
    &__player {
      display: block;
      margin: 0 auto;
      width: 100%;
      object-fit: cover;
    }
    &__play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
    &__image-icon {
      width: 53px;
      height: 53px;

      &--desktop {
        width: 116px;
        height: 116px;
      }
    }
    &__additional-description {
      min-width: 320px;
      margin-bottom: 32px;
      strong {
        text-transform: none;
      }
    }
    &__play-button {
      &--desktop {
        display: none;
      }
    }
  }

  .es-compare {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    padding-bottom: 80px;
    margin-bottom: 50px;

    &__packshots {
      &--desktop {
        display: none;
      }
    }

    &__title {
      margin-left: 10px;
      margin-bottom: 60px;
    }

    &__mobile-wrapper {
      display: flex;
      justify-content: center;
      column-gap: 4px;
      margin-bottom: 40px;
    }

    &__single {
      max-width: 150px;
    }

    &__single-image {
      @include img;
      width: auto;
      min-height: 160px;
      margin-bottom: 20px;

      &--4 {
        margin-top: 21px;
      }
    }

    &__single-title {
      display: flex;
      justify-content: center;
      align-items: center;
      @include text;
      margin-bottom: 20px;
      min-height: 110px;
      padding: 24px 14px;
      font-family: $regular;
      font-size: 13px;
      font-weight: 700;
      text-align: center;
      background: $red;
      color: #fff;
      border-radius: 10px;

      &--left {
        border-radius: 10px 0 0 10px;
      }
      &--right {
        border-radius: 0 10px 10px 0;
      }
    }

    &__single-subtitle {
      @include text;
      font-family: $regular;
      font-weight: 700;
      font-size: 10px;
      text-align: center;
      text-transform: uppercase;
      min-height: 48px;
    }

    &__type,
    &__problem,
    &__action,
    &__effect,
    &__consistency {
      margin-bottom: 10px;
    }

    &__type-title,
    &__problem-title,
    &__action-title,
    &__effect-title,
    &__consistency-title {
      @include text;
      font-family: $regular;
      font-size: 18px;
      font-weight: 700;
      padding-top: 18px;
      padding-bottom: 18px;
      color: #000;
      background: $red;
      border-radius: 10px;
      text-align: center;
      text-transform: uppercase;
      z-index: 1;
      position: relative;
    }

    &__type-subtitle,
    &__problem-subtitle,
    &__action-subtitle,
    &__effect-subtitle,
    &__consistency-subtitle {
      @include text;
      margin-top: -4px;
      font-size: 11.5px;
      min-width: none;
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: $regular;
      width: 50%;
      text-align: center;
      background: #f4f4f4;
      z-index: 0;
    }
    &__effect-subtitle {
      min-height: 120px;
    }
    &__consistency-subtitle {
      min-height: 80px;
    }

    &__problem-subtitle {
      min-height: 90px;
    }

    &__inner {
      display: flex;
      justify-content: space-around;
      column-gap: 4px;
    }
  }

  @media screen and (min-width: 560px) {
    .es-video {
      &__player {
        &--mobile {
          display: none;
        }
        &--desktop {
          display: block;
        }
      }
      &__play-button {
        &--mobile {
          display: none;
        }
        &--desktop {
          display: block;
        }
      }
    }
  }

  @media screen and (min-width: 600px) {
    .es-slick-carousel--mobile,
    .slick-button-prev,
    .slick-button-next,
    .es-slider__arrow {
      display: none;
    }

    .es-compare {
      padding-bottom: 0;

      &__packshots {
        &--mobile {
          display: none;
        }
        &--desktop {
          display: block;
        }
      }
      &__mobile-wrapper {
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-bottom: 40px;
      }
      &__single {
        min-width: 125px;
      }
      &__single-title {
        min-height: 93px;
        padding: 10px 14px;

        &--square {
          border-radius: 0px;
        }
      }
    }

    .slick-pagination-2,
    .slick-button-2-prev,
    .slick-button-2-next {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    .es-title {
      margin-bottom: 50px;
      font-size: 30px;
      text-align: center;
    }
  }

  @media screen and (min-width: 860px) {
    .es-compare {
      &__mobile-wrapper {
        max-width: none;
        justify-content: space-around;
      }
      &__single {
        min-width: 190px;
      }
      &__single-subtitle {
        font-size: 14px;
      }
      &__effect-subtitle {
        min-height: 100px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .es-compare {
      &__mobile-wrapper {
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 0;
      }
      &__single {
        min-width: 228px;
      }

      &__single-image {
        min-height: 180px;
        max-width: 170px;
      }

      &__single-title {
        font-size: 15px;
        margin-bottom: 50px;
      }

      &__type-subtitle,
      &__problem-subtitle,
      &__action-subtitle,
      &__effect-subtitle,
      &__consistency-subtitle {
        font-size: 13px;
      }
    }
  }

  @keyframes slidedown {
    from {
      opacity: 0;
      transform: translateY(-32px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideright {
    from {
      opacity: 0.3;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
