@charset "UTF-8";

$regular: 'Lato', sans-serif;
$red: #bf001a;
$black: #000000;
$gray: #f4f4f4;
$white: #ffffff;

html,
body {
  margin: 0;
  padding: 0;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-rc #es-rc-content {
  font-family: $regular;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $black;
  background-color: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #111;
  }

  .es-title {
    @include text;
    margin-top: 30px;
    font-family: $regular;
    font-size: 20px;
    text-align: left;
    margin-bottom: 32px;
    margin-left: 20px;
    text-transform: uppercase;

    & span {
      font-weight: 700;
    }
  }

  .es-header {
    margin-bottom: 30px;

    &__title {
      font-family: $regular;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.5em;
      text-transform: uppercase;
      text-align: center;
      color: $black;
    }

    &__number-label {
      @include img;
    }

    &__description {
      margin-top: 0;
      font-family: $regular;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
    }

    &__description-disclaimer {
      display: block;
      font-family: $regular;
      font-weight: 400;
      font-size: 6px;
      text-align: center;
      text-transform: none;
      color: $black;
    }

    &__img-logo {
      @include img;
      padding-top: 25px;
      padding-bottom: 25px;
    }

    &__img-photo {
      @include img;

      &--desktop {
        display: none;
      }
    }
  }

  .es-kv {
    &__content {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 35px;
      padding-bottom: 5px;
      margin-bottom: 30px;
      background: $red;
      color: $white;
    }

    &__title {
      margin-top: 0;

      font-family: $regular;
      font-weight: 400;
      font-size: 20px;
      text-decoration: underline;
      color: $white;
    }

    &__subtitle {
      font-family: $regular;
      font-weight: 600;
      font-size: 20px;
    }

    &__disclaimer {
      margin-top: 50px;
      font-family: $regular;
      font-weight: 400;
      font-size: 10px;
    }

    &__packshot-img {
      @include img;
      max-width: 25%;
      margin-bottom: 30px;
    }

    &__photo-img {
      @include img;
    }
  }

  .es-ba {
    &__title {
    }

    &__img {
      @include img;
    }

    &__photo {
      position: relative;
    }

    &__label {
      font-family: $regular;
      margin: 0;
      position: absolute;
      bottom: 2%;
      right: 2%;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      color: $white;
    }

    &__subtitle {
      font-family: $regular;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      color: $red;
    }

    &__disclaimer {
      margin-left: 10px;
      font-family: $regular;
      font-weight: 400;
      font-size: 10px;
    }
  }

  .es-collagen {
    &__title {
      display: flex;
      margin-bottom: 0;
      gap: 5px;
      font-family: $regular;
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;

      &--big {
        margin-top: -5px;
        font-size: 50px;
      }
    }

    &__photo {
      position: relative;
      padding-top: 50px;
      padding-bottom: 50px;
      background: url(./../images/16-collagen-bg.png) center center no-repeat;
      background-size: cover;
    }

    &__image {
      @include img;
      max-width: 60%;
    }

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      font-family: $regular;
      font-weight: 400;
      font-size: 10px;
      text-align: right;
      color: $white;

      &--1 {
        top: 4%;
        left: 42%;
      }

      &--2 {
        top: 10%;
        left: 63%;
      }

      &--3 {
        top: 20%;
        left: 74%;
      }

      &--4 {
        top: 29%;
        left: 80%;
      }

      &--5 {
        top: 44%;
        left: 76%;
        right: 2%;
      }

      &--6 {
        top: 57%;
        left: 83%;
      }

      &--7 {
        top: 71%;
        left: 75%;
      }

      &--8 {
        top: 83%;
        left: 62%;
      }

      &--9 {
        top: 87%;
        left: 42%;
      }

      &--10 {
        top: 80%;
        left: 27%;
      }

      &--11 {
        top: 70%;
        left: 8%;
      }

      &--12 {
        top: 58%;
        left: 2%;
      }

      &--13 {
        top: 45%;
        left: 5%;
      }

      &--14 {
        top: 30%;
        left: 5%;
      }

      &--15 {
        top: 18%;
        left: 7%;
      }

      &--16 {
        top: 10%;
        left: 22%;
      }
    }
    &__ba-group {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      gap: 30px;
      -webkit-box-pack: center;
      justify-content: center;
      align-self: center;
    }

    &__before,
    &__after {
      display: -webkit-box;
      display: flex;
      justify-self: center;

      gap: 5px;
    }

    &__before-img,
    &__after-img {
      @include img;
      height: 35px;
      margin-top: 5px;
    }

    &__disclaimer {
      margin-left: 10px;
      font-family: $regular;
      font-weight: 400;
      font-size: 10px;
    }
  }

  .es-bonding {
    margin-bottom: 30px;

    &__description {
      padding-left: 5px;
      font-family: $regular;
      font-weight: 400;
      font-size: 16px;
      text-align: left;
    }

    &__img {
      @include img;
    }
  }

  .es-formula {
    min-height: 250px;
    background-color: $red;

    &__title {
      padding: 40px 20px;
      font-family: $regular;
      font-weight: 300;
      font-size: 20px;
      text-transform: uppercase;
      color: $white;

      &--bold {
        font-weight: 600;
      }
    }
  }

  .slick-button-prev {
    position: absolute;
    top: 20%;
    left: 15px;
    rotate: 180deg;
    cursor: pointer;
  }

  .slick-button-next {
    position: absolute;
    top: 20%;
    right: 15px;
    cursor: pointer;
  }

  .slick-button-2-prev {
    position: absolute;
    bottom: 0;
    left: 15px;
    rotate: 180deg;
    cursor: pointer;
  }

  .slick-button-2-next {
    position: absolute;
    bottom: 0;
    right: 15px;
    cursor: pointer;
  }

  .slick-pagination-2 {
    position: absolute;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
  }

  .slick-dots {
    display: -webkit-box;
    display: flex;
    gap: 0 4px;
    padding: 0;
    margin: 0;
  }

  .slick-dots li {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background: #ef9e97;
    opacity: 1;
  }

  .slick-dots li:not(:last-child) {
    margin-right: 6px;
  }

  .slick-dots li.slick-active {
    background: $red;
  }

  .slick-dots li button {
    display: none;
  }

  .slick-slide {
    opacity: 0.7;
  }

  .slick-current {
    opacity: 1;
  }

  .slick-list {
    overflow: visible;
  }

  .slick-arrow.slick-disabled {
    display: none !important;
  }

  .es-faq {
    padding-bottom: 30px;

    &__title {
      @include text;
      font-family: $regular;
      margin: 0 auto;
      margin-left: 15px;
      margin-bottom: 40px;
      font-size: 20px;
      color: inherit;
    }

    .es-accordion {
      margin: 0 auto;
      max-width: 1170px;
      padding-left: 15px;
      padding-right: 15px;

      &__element {
        margin: 0 auto;
        margin-bottom: 20px;
        border: none;
      }

      &__element-content {
        @include text;
        font-family: $regular;
        font-size: 13px;
        background-color: #f4f4f4;
        color: #000;
        overflow: hidden;
        margin-top: -10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        max-height: 0;
        -webkit-transition: max-height 0.5s ease-out;
        transition: max-height 0.5s ease-out;
        border-radius: 10px;
      }

      &__title {
        @include text;
        font-family: $regular;
        font-weight: 700;
        position: relative;
        padding: 17px 50px 17px 15px;
        font-size: 14px;
        color: #fff;
        -webkit-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        cursor: pointer;
        background: $red;
        border-radius: 10px;
        z-index: 1;
        position: relative;
      }

      .acc-tab:before {
        font-family: 'FontAwesome';
        content: '';
        display: block;
        position: absolute;
        width: 35px;
        height: 19px;
        top: 35%;
        right: 5%;
        background: url(./../images/plus.png) 50% 50% no-repeat;
        color: #fff;
        text-align: center;
        line-height: 50px;
        -webkit-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
      }

      .acc-tab.active:before {
        background: url(./../images/plus.png) 50% 50% no-repeat;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      & > div:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .es-video {
    padding-left: 15px;
    padding-right: 15px;

    &__wrapper {
      position: relative;
      margin-bottom: 50px;
    }
    &__player {
      display: block;
      margin: 0 auto;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
    &__play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
    &__image-icon {
      width: 53px;
      height: 53px;

      &--desktop {
        width: 116px;
        height: 116px;
      }
    }
    &__additional-description {
      min-width: 320px;
      margin-bottom: 32px;
      strong {
        text-transform: none;
      }
    }
    &__play-button {
      &--desktop {
        display: none;
      }
    }
  }

  .es-compare {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    padding-bottom: 80px;
    margin-bottom: 50px;

    &__packshots {
      &--desktop {
        display: none;
      }
    }

    &__title {
      margin-left: 10px;
    }

    &__mobile-wrapper {
      display: -webkit-box;
      display: flex;
      justify-content: space-around;
      -webkit-column-gap: 4px;
      -moz-column-gap: 4px;
      column-gap: 4px;
      margin-bottom: 40px;
    }

    &__single {
      max-width: 150px;
    }

    &__single-image {
      @include img;
      width: auto;
      min-height: 160px;
      margin-bottom: 20px;

      &--4 {
        // margin-top: 21px;
      }
    }

    &__single-title {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      @include text;
      margin-bottom: 20px;
      min-height: 110px;
      padding: 24px 14px;
      font-family: $regular;
      font-size: 13px;
      font-weight: 700;
      text-align: center;
      background: $red;
      color: #fff;
      border-radius: 10px;

      &--left {
        border-radius: 10px 0 0 10px;
      }
      &--right {
        border-radius: 0 10px 10px 0;
      }
    }

    &__single-subtitle {
      @include text;
      font-family: $regular;
      font-weight: 700;
      font-size: 10px;
      text-align: center;
      min-height: 48px;
    }

    &__type,
    &__problem,
    &__action,
    &__effect,
    &__consistency {
      margin-bottom: 10px;
    }

    &__type-title,
    &__problem-title,
    &__action-title,
    &__effect-title,
    &__consistency-title {
      @include text;
      font-family: $regular;
      font-size: 18px;
      font-weight: 700;
      padding-top: 18px;
      padding-bottom: 18px;
      color: $white;
      background: $red;
      border-radius: 10px;
      text-align: center;
      text-transform: uppercase;
      z-index: 1;
      position: relative;
    }

    &__type-subtitle,
    &__problem-subtitle,
    &__action-subtitle,
    &__effect-subtitle,
    &__consistency-subtitle {
      @include text;
      margin-top: -4px;
      font-size: 11.5px;
      min-width: none;
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: $regular;
      width: 50%;
      text-align: center;
      background: #f4f4f4;
      z-index: 0;
    }
    &__disclaimer {
      font-size: 8px;
    }
    &__effect-subtitle {
      min-height: 120px;
    }
    &__consistency-subtitle {
      min-height: 80px;
    }

    &__problem-subtitle {
      min-height: 90px;
    }

    &__action-subtitle {
      min-height: 98px;
    }

    &__consistency-subtitle {
      min-height: 98px;
    }

    &__inner {
      display: -webkit-box;
      display: flex;
      justify-content: space-around;
      -webkit-column-gap: 4px;
      -moz-column-gap: 4px;
      column-gap: 4px;
    }
  }

  .swiper,
  .swiper-wrapper,
  .swiper-slide {
    width: 100%;
    height: auto;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #c69da3;
    opacity: 50%;
  }

  .swiper-pagination-bullet:not(:last-child) {
    margin-right: 6px;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #c69da3;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }

  .swiper-button-prev img {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .swiper-pagination {
    position: absolute;
    bottom: 25px;
    text-align: center;
    -webkit-transition: 0.3s opacity;
    transition: 0.3s opacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 30px;
  }

  .swiper-button-next {
    right: 2%;
  }

  .swiper-button-prev {
    left: 2%;
  }

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    // display: none;
  }

  .swiper-pagination-bullet {
    background: #044b72;
  }

  .swiper-pagination-bullet-active {
    background: $red !important;
  }

  .es-routine {
    padding-left: 20px;
    padding-right: 20px;

    &__title {
      margin-left: 0;
      margin-bottom: 0;
    }

    &__disclaimer {
      margin-bottom: 30px;
      padding-right: 20px;
      font-size: 10px;
    }

    &__steps {
      margin-bottom: 50px;
    }

    &__steps-image {
      @include img;
    }

    &__step-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      &--first {
        justify-content: flex-start;
      }
    }

    &__step-item-title {
      @include text;
      margin-bottom: 15px;
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      background: $black;
      font-family: $regular;
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
      color: $white;

      &--big {
        @include text;
        font-family: $regular;
        font-weight: 500;
        font-size: 70px;
        text-transform: uppercase;
      }
    }

    &__step-item-title-group {
      display: flex;
      justify-items: center;
      align-items: flex-end;
      gap: 10px;
    }

    &__step-item-subtitle {
      @include text;
      margin-top: -15px;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      color: $black;
    }

    &__button {
      align-self: flex-end;
      min-width: 120px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      font-family: $regular;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      background: $red;
      color: $white;
      text-decoration: none;
      border-radius: 5px;
    }

    &__step-text-content {
      // display: flex;
    }
  }

  @media screen and (min-width: 576px) {
    .es-collagen {
      &__item {
        font-size: 14px;
        &--1 {
          top: 1%;
          left: 43%;
        }

        &--2 {
          top: 5%;
          left: 62%;
        }

        &--3 {
          top: 15%;
          left: 73%;
        }

        &--4 {
          top: 28%;
          left: 82%;
        }

        &--5 {
          top: 43%;
          left: 84%;
          right: 11%;
        }

        &--6 {
          top: 61%;
          left: 82%;
        }

        &--7 {
          top: 75%;
          left: 73%;
        }

        &--8 {
          top: 85%;
          left: 60%;
        }

        &--9 {
          top: 89%;
          left: 44%;
        }

        &--10 {
          top: 86%;
          left: 29%;
        }

        &--11 {
          top: 75%;
          left: 12%;
        }

        &--12 {
          top: 62%;
          left: 6%;
        }

        &--13 {
          top: 46%;
          left: 8%;
        }

        &--15 {
          top: 15%;
          left: 11%;
        }

        &--16 {
          top: 5%;
          left: 25%;
        }
      }
    }

    .es-video {
      &__player {
        &--mobile {
          display: none;
        }
        &--desktop {
          display: block;
        }
      }
      &__play-button {
        &--mobile {
          display: none;
        }
        &--desktop {
          display: block;
        }
      }
    }

    .es-ba {
      &__img {
        max-width: 600px;
      }

      &__label {
        right: 5%;
      }
    }
  }

  @media screen and (min-width: 600px) {
    .es-slick-carousel--mobile,
    .slick-button-prev,
    .slick-button-next,
    .es-slider__arrow {
      display: none;
    }

    .es-compare {
      padding-bottom: 0;

      &__packshots {
        &--mobile {
          display: none;
        }
        &--desktop {
          display: block;
        }
      }
      &__mobile-wrapper {
        margin: 0 auto;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 40px;
      }
      &__single {
        min-width: 125px;
      }
      &__single-title {
        min-height: 93px;
        padding: 10px 14px;

        &--square {
          border-radius: 0px;
        }
      }
    }

    .slick-pagination-2,
    .slick-button-2-prev,
    .slick-button-2-next {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    .es-header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 200px;
      background: url(../images/header-image.png) center center no-repeat;
      background-size: cover;
      gap: 10px;

      &__right {
        max-width: 200px;
      }

      &__title {
        min-width: 400px;
      }

      &__description {
        font-size: 13px;
      }

      &__img-logo {
        min-width: 170px;
      }

      &__img-bg {
        display: none;
      }
    }

    .es-kv {
      position: relative;
      min-height: 400px;
      background: url(../images/kv-photo.png) center center no-repeat;
      background-size: cover;

      &__content {
        background-color: unset;
      }

      &__packshot-img {
        position: absolute;
        bottom: 0;
        left: 45%;
        max-width: 11%;
        margin-bottom: 0;
      }

      &__photo {
        display: none;
      }
    }

    .es-title {
      margin-bottom: 50px;
      font-size: 25px;
      text-align: center;
    }

    .swiper-pagination {
      display: none;
    }
  }

  @media screen and (min-width: 860px) {
    .es-compare {
      &__mobile-wrapper {
        max-width: none;
        justify-content: space-around;
      }
      &__single {
        min-width: 190px;
      }
      &__single-subtitle {
        font-size: 14px;
      }
      &__effect-subtitle {
        min-height: 100px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .es-compare {
      &__mobile-wrapper {
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        gap: 0;
      }
      &__single {
        min-width: 228px;
      }

      &__single-image {
        min-height: 180px;
        max-width: 170px;
      }

      &__single-title {
        font-size: 15px;
        margin-bottom: 50px;
      }

      &__type-subtitle,
      &__problem-subtitle,
      &__action-subtitle,
      &__effect-subtitle,
      &__consistency-subtitle {
        font-size: 13px;
      }
    }
  }

  @-webkit-keyframes slidedown {
    from {
      opacity: 0;
      -webkit-transform: translateY(-32px);
      transform: translateY(-32px);
    }

    to {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes slidedown {
    from {
      opacity: 0;
      -webkit-transform: translateY(-32px);
      transform: translateY(-32px);
    }

    to {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @-webkit-keyframes slideright {
    from {
      opacity: 0.3;
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @keyframes slideright {
    from {
      opacity: 0.3;
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
}
